:root {
  
}

html {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: 'Regular', sans-serif;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

@font-face {
  font-family: 'Regular';
  src: url('/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: url('/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: url('/Ubuntu-Bold.ttf') format('truetype');
}



