.header {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h1 {
    font-family: 'Medium', sans-serif;
    letter-spacing: 2px;
    

    @media (max-width: 830px) {
      letter-spacing: normal;
      text-align: center;
    }
  }

  p {
    opacity: 50%;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;

  div {
    display: flex;
    flex-direction: column;
  }

  label {
    font-family: 'Medium', sans-serif;
  }

  form {
    margin-top: 8px;
  }

  input {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.499);
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Medium', sans-serif;

    &:hover {
      cursor: pointer;
    }

    &::placeholder {
      opacity: 0.6;
    }

    &:focus {
      outline: none;
      border: 1px solid purple;
    }

    @media (max-width: 830px) {
      width: 90%;
    }
  }
}

@media (max-width: 830px) {
  .main {
    position: absolute;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 110%;
  }

  .formContainer {
    margin-top: 30px;
  }
}
