.main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.label {
  background-color: blue;
  padding: 10px;
  color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Bold', sans-serif;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    display: flex;
    padding-top: 20px;
    font-family: 'Medium', sans-serif;
    font-size: 20px;
    align-items: center;
    gap: 4px;
  }
}

@media (max-width: 830px) {
  .main {
    position: absolute;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
  }

  .nameContainer {
    text-align: center;
  }
}
